<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('index') }}" class="logo">Home</a>
            {%if 'username' not in session %}
            <div class="header-right">
                <a href="{{ url_for('login') }}">Login</a>
            </div>
            {%else%}
            <div class="header-right">
                <a href="{{ url_for('logout') }}">logout</a>
            </div>
            {%endif%}
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <h2>Categories</h2>
                {%if 'username' in session %}
                <h5><a href="{{ url_for('newCategory') }}">add category</a></h5>
                {%endif%} {% if categories %} {% for cat in categories %}
                <div>
                    <a href="{{url_for('showCategory',cat_id = cat.id)}}">{{
                        cat.name
                    }}</a>
                </div>
                {% endfor %} {% endif %}
            </div>

            <div class="grid-item">
                {%if 'username' in session %}
                <h5><a href="{{ url_for('newItem') }}">add item</a></h5>
                {%endif%} {%if category%}
                <h2 style="text-align: initial;">
                    {{ category.name }} items({{ count }} items/item)
                </h2>
                {%else%}
                <h2 style="text-align: initial;">Latest Items</h2>
                {%endif%} {%if items%} {%for item in items%}
                <div>
                    <a href="{{url_for('showItem',item_id = item.id)}}">
                        {{ item.title }}
                    </a>
                </div>
                {%endfor%} {%endif%}
            </div>
        </div>
    </body>
</html>
