<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('index') }}" class="logo">Home</a>
            {%if 'username' not in session %}
            <div class="header-right">
                <a href="{{ url_for('login') }}">Login</a>
            </div>
            {%else%}
            <div class="header-right">
                <a href="{{ url_for('logout') }}">logout</a>
            </div>
            {%endif%}
        </div>
        <div class="grid-container" style="grid-template-columns:auto;">
            <div class="grid-item">
                <h2 style="text-align: initial;">{{ item.title }}</h2>
                <p style="text-align: initial;">
                    Description: {{ item.description }}
                </p>
                <p style="text-align: initial;">
                    Category: {{ category.name }}
                </p>
                {%if 'username' in session %}
                <form
                    action="{{ url_for('deleteItem',itemId = item.id) }}"
                    method="POST"
                >
                    <input
                        style="background: red"
                        type="submit"
                        value="Delete"
                    />
                </form>
                <form
                    action="{{ url_for('editItem',itemId = item.id) }}"
                    method="GET"
                >
                    <input
                        style="background: blue"
                        type="submit"
                        value="Edit"
                    />
                </form>
                {%endif%}
            </div>
        </div>
    </body>
</html>
