<!DOCTYPE html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body> 
    <div id="signinButton">
    <span class="g-signin"
        data-scope="the email goes here" openid email
        data-clientid="the client id goes here"
        data-redirecturi="home"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
    </span>
    </div>
  
    <div id="result"></div>
  
<script>
    function signInCallback(authResult) {
    if (authResult['code']) {
        $.ajax({
        type: 'POST',
        url: '/login?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
            window.location.href = "/home";
            }, 4000);
        } else if (authResult['error']) {
        console.log('There was an error: ' + authResult['error']);
    } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
        }
    }); } }
</script>
  
</body>

</html>