<!DOCTYPE html>
<html>
    <head>
        <title>add category</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        <div>
            <form action="#" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Name.." />

                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>
