<!DOCTYPE html>
<html>
    <head>
        <title>add item</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        <h3>Add Items Form</h3>

        <div>
            <form action="#" method="POST">
                <label for="title">title</label>
                <input type="text" name="title" placeholder="Item title.." />

                <label for="description">description</label>
                <input
                    type="text"
                    name="description"
                    placeholder="description.."
                />

                <label for="category_id">category</label>
                <select id="country" name="category_id">
                    {%for cat in categories%}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                    {%endfor%}
                </select>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>
